@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
}
.grid-sizer,
.grid-item { width: 100%; }
@media (min-width: 400px) {
  .grid-sizer,
  .grid-item { width: 50%; }
  #login-container { max-width: 70%; }
}
@media (min-width: 550px) {
  .grid-sizer,
  .grid-item { width: 25%; }
  #login-container { max-width: 40%; }
}
.bordered-item {
  border: 2px solid #BBB;
  border-radius: 4px;
  text-align: center;
}
.grid-item .bordered-item { margin: 1rem; }
.bordered-item img {
  max-width: 100%;
  display: block;
}  
.spacerline {
  border: 1px solid #BBB;
  margin-top: 10px;
  margin-bottom: 10px;
}
#logo-item { margin-left: 1rem; }
#bank-list-item { 
  margin: 1rem;
  text-align: center;
}
#login-item { padding-top: 2rem; }
